
.contact-left p{
    margin-top: 30px;
    border: solid 2px;
    width: 30%;
    margin-left: 12%;
    float: none;
    
}
.contact-left h1{
    width: 30%;
    border: solid 2px;
    margin-left: 12%;

}
.contect-right{
    border: solid 2px;
    float: inline-end;
    width: 40%;
    
    margin-right: 12%;


}
.contact-left p i{
    margin: 15px;
    color: blue;
    font-size: 25px;
    
    
}
.socail-icon{
    margin: 15px;
    border: solid 2px;
    width: 30%;
    margin-left: 12%;
}
.socail-icon a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;
}
.socail-icon a :hover{
    color: aqua;
    transform: translateY(-5px);
}
/* .contect-right form{
    width: 50%;
    border: solid 2px;
    margin: 5%;

} */
